// 解决浮动
.clearfix:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

.clearfix {
  zoom: 1;
}

// End 解决浮动
// 设置字体大小, 颜色
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
div,
span,
input {
  color: #666;
  // 用用简书的字体, 看看效果如何
  font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

a,
p,
div,
span,
input {
  font-size: 14px;
}
